# **DATA COLLECTION**

---

## Objectives

* Prepare data for further processing.

## Inputs

This dataset contains information about used motorcycles.
This data can be used for a lot of purposes such as price prediction to exemplify the use of linear regression in Machine Learning.
The columns in the given dataset are as follows:

1. name
1. selling price
1. year
1. seller type
1. owner
1. km driven
1. ex showroom price 

## Outputs

* Generate dataset:

1. training data
1. testing data

## Additional Comments

* https://www.kaggle.com/datasets/nehalbirla/motorcycle-dataset

---

In [ ]:
! pip install -r ../requirements.txt

## Import Python Libraries

In [1]:
import os
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Set and confirm working directory

In [2]:
current_dir = os.getcwd()
current_dir

'/workspace/portfolio-project-5-price-predictor/jupyter_notebooks'

In [3]:
os.chdir(os.path.dirname(current_dir))
current_dir = os.getcwd()
current_dir

'/workspace/portfolio-project-5-price-predictor'

# DATA PREPARATION

---

## Data Cleaning

In [7]:
data = pd.read_csv('data/data.csv')
data['ex_showroom_price'].fillna(value=data['ex_showroom_price'].mean(), inplace=True)
data.reset_index(inplace=True)
data.head()

,index,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,87958.714058
1,1,Honda Dio,45000,2017,Individual,1st owner,5650,87958.714058
2,2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.000000
3,3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.000000
4,4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,87958.714058

#### Drop Outliers

In [9]:
df = data
def drop_outliers(df, df_col):
    q1, q3 = np.percentile(df[df_col], [25, 75])

    # interquartile range
    IQR = q3 - q1
    # upper limit
    ul = q3+1.5*IQR
    # lower limit
    ll = q1-1.5*IQR

    return df[(df[df_col] >= ll) & (df[df_col] <= ul)]

#### Train & Test split

In [10]:
if 'input' not in os.listdir('data'):
    df = load_dataset('data/data.csv')

    owner_count = np.array(list(map(lambda x: re.search('[0-9]*', x).group(0), df['owner'].values)))
    df['owner'] = owner_count
    df.drop(['name', 'seller_type'], axis=1, inplace=True)

    df = drop_outliers(df, 'selling_price')
    df = drop_outliers(df, 'km_driven')

    y = df['selling_price']

    x_train, x_test, y_train, y_test = train_test_split(df.drop(['selling_price'], axis=1), y, test_size=.2, random_state=1)