# **MODELING AND EtestUATION**

---

## Objectives

* Train ML model and predict selling price

## Inputs

* 

## Outputs

*

---

## Import Python Libraries

In [1]:
import os
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures, MinMaxScaler

## Set and confirm working directory

In [2]:
current_dir = os.getcwd()
current_dir

os.chdir(os.path.dirname(current_dir))
current_dir = os.getcwd()
current_dir

'/workspaces/milestone-project-bring-your-own-data'

## Load train dataset

In [3]:
data_train = pd.read_csv('data/train/train.csv')
data_train.head()

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0
1,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0
2,Honda CB Twister,18000,2010,Individual,1st owner,60000,53857.0
3,Honda CB Hornet 160R,78500,2018,Individual,1st owner,17000,87719.0
4,Bajaj Discover 125,50000,2016,Individual,1st owner,42000,60122.0

## Model selection ~ Linear Regression

In [4]:
df = pd.DataFrame(data_train)

# Normalize
df = df[(df['year']>=2000) & (df['km_driven']<75000)]

df.head()

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0
1,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0
2,Honda CB Twister,18000,2010,Individual,1st owner,60000,53857.0
3,Honda CB Hornet 160R,78500,2018,Individual,1st owner,17000,87719.0
4,Bajaj Discover 125,50000,2016,Individual,1st owner,42000,60122.0

#### Initialization

In [5]:
# Assign dependent and independent variables
x = df[['year', 'km_driven']]
y = df['selling_price']

# Transform to polynomial function 
x_ = PolynomialFeatures(degree=2, include_bias=True).fit_transform(x)

In [6]:
# Create instance of the LinearRegression class
model = LinearRegression()

# Check the shape of x and y
print(x_.shape)
print(y.shape)

model.fit(x_, y)

r_sq = model.score(x_, y)

# Print the default values for intercept
print('Intercept: ', model.intercept_)

# Print the default testues for the coefficients
print('Coefficients: ', model.coef_)

(530, 6)
(530,)
Intercept:  1485632102.3190017
Coefficients:  [ 0.00000000e+00 -1.47914470e+06 -4.78476664e+01  3.68193575e+02
  2.23484229e-02  3.07289407e-05]

In [7]:
data_test = pd.read_csv('data/test/test.csv')
data_test.head()

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Bajaj Avenger 220 dtsi,60000,2017,Individual,1st owner,16600,95000.0
1,Honda CBR 150,60000,2015,Individual,1st owner,32000,120000.0
2,Bajaj Avenger 150 street,60000,2018,Individual,1st owner,20000,80000.0
3,Yamaha FZ v 2.0,60000,2017,Individual,1st owner,29000,84000.0
4,Yamaha FZ v 2.0,60000,2018,Individual,1st owner,25000,84000.0

In [8]:
df_test = pd.DataFrame(data_test)

# Transform to polynomial function 
x_test = PolynomialFeatures(degree=2, include_bias=True).fit_transform(df_test[['year', 'km_driven']])

y_pred = model.predict(x_test)
y_pred

array([  77576.090451  ,   45649.15897298,   78942.28857279,
         60592.33525848,   72113.5554812 ,   58699.77878618,
         57146.76619649,   74340.66046238,   57765.428828  ,
         26076.5984304 ,   73356.3863368 ,   80348.20152068,
         65947.18585706,   68274.46543074,   39806.10376978,
         88946.02157855,  117719.96563506,   94895.45354271,
         67630.28999686,  107701.83771086,  118461.3107307 ,
         45456.59034109,   61336.29207039,   65285.1202724 ,
         38139.40205765,   89164.87836838,  120255.09904671,
        118903.87127733,   46214.86371541,   74919.57552814,
         82335.62909794,   85295.39471841,   97919.72968864,
         76825.38321924,  125382.32101154,   53933.57383561,
         54732.16763496,   38251.02074122,   73356.3863368 ,
         67346.81321526,  873708.37005544,   40322.15681505,
         61016.59554386,   47469.9587636 ,   58705.7229495 ,
         34771.57995081,   84658.55314016,   45024.00902295,
         45649.15897298,   63557.21954346,   18706.95721483,
         25093.5672226 ,   48231.55069256,   18729.92012167,
         54407.34728837,   20565.09578776,   55766.86425042,
       6308676.5678103 ,   31905.98378515,   33936.47114611,
         19468.58890176,   76884.69680357])